---
- name: Get employees list
  uri:
    url: "http://app:8080/employees"
    method: GET
    headers:
      Cookie: "{{ cookie_header }}"
    status_code: 200
  register: employees_list

- name: Assert employees page loaded
  assert:
    that:
      - employees_list.status == 200

- name: Create employee
  uri:
    url: "http://app:8080/employees"
    method: POST
    body_format: form-urlencoded
    headers:
      Cookie: "{{ cookie_header }}"
    body:
      full_name: "Test Employee"
      email: "test@example.com"
      birthday: "1990-01-15"
      hired_date: "2024-01-01"
      position: "Developer"
    follow_redirects: none
    status_code: 302
  register: create_employee

- name: Assert employee created
  assert:
    that:
      - create_employee.status == 302
